html {
    font-size: 16px;
}

body {
    margin: 1em;
    text-align: center;
    color: #360;
}

section {
    min-width: 90%;
    font-family: Courier
}

article {
    width:80%;
    text-align: center;
    margin: 1em auto;
}

button {
    width:210px;
    height:210px;
    margin:1em;
    padding: 0;
}

#monkeys {
    display:flex;
    flex-direction:row;
}
.block {
    width: 210px;
    height: 210px;
    background-color: #630;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: none;
    margin: 1em auto;
    padding:0;
    
}

#message{
    color:red;
}

aside {
    color:black;
    font-family: monospace;
    line-height: 150%;
    text-align: left;
    padding:3em;
}

aside li {
    margin-bottom:2em;
}